
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&amp;family=Work+Sans:wght@400;600;700&amp;display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: "Heebo", sans-serif;
}
header a {
    text-decoration: none;
}
header {
    padding: 0;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#brand {
    display: flex;
    align-items: center;
}
#brand a {
    color: green;

}
ul {
list-style: none;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}
ul a {
color: green;
}
ul li {
    padding: 5px;
    margin-left: 10px;

}
