@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&amp;family=Work+Sans:wght@400;600;700&amp;display=swap');


.content .title{
position: relative ;
font-size: 25px;
font-weight: 500
}
.content .title::before{
    content:'';
    position:absolute;
    height: 3px;
    width: 30px;
    background: green;
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    font-size: 20px;
}

form .user-details .input-box{
 
    width: calc(100% - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box  {
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 25px;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
 
  
   
  
}

.user-details .input-box :focus,

.user-details .input-box :valid{
    border-color: green;

}
form .option-details .option-title{
    font-size: 20px;
    font-weight: 500;
}
form .option-details .category{
    width: 80%;
    display: flex;
    background:green;
justify-content:space-between;
margin: 14px 0;


}
.option-details .category label {
display: flex;
align-items: center;
}
